<body class="bg-white ">
   <div class="bg-gray-100 border-b border-gray-300">
  <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between flex-wrap">
      <div class="w-0 flex-1 flex items-center">
        <p class="ml-3 font-medium text-gray-600 sm:ml-0">
          <span class="md:inline text-xl font-medium"> Edit Article </span>
        </p>
      </div>
       
    </div>
  </div>
</div>
 <%= render 'shared/errors', obj: @article %>
    <%= form_with(model: @article,class: "w-full my-3",remote: true) do |f| %>
            <div class="flex flex-col justify-center mx-3">
                       <%= f.text_field :title,class:"w-full p-2 text-sm border-gray-200 rounded-lg shadow-sm mb-5",placeholder:"Add a title here" %>
                       <%= f.rich_text_area :content,class:"p-2 text-sm border-gray-200 bg-white rounded-lg shadow-sm customized-min-height" %>
            </div>
          
            <div class="flex my-3">
                      <%= f.label :category,class: "mx-2 mb-2" %>
                      <%= f.text_field :category,class: " px-2 py-2 text-sm border-gray-200 rounded-lg shadow-sm" %>
                      <%= f.label :tags,class: "mx-2" %>
                      <%= f.text_field :tags,class: " px-2 py-2 text-sm border-gray-200 rounded-lg shadow-sm" %>
                      <%= f.label :visibility,class: "mx-2 mb-3" %>
                      <%= f.select :visibility,Article.visibilities.keys,{},{class:"px-5 py-2 text-sm border-gray-200 rounded-lg shadow-sm"} %>
                      <%= f.label :version_note,class: "mx-2 mb-3" %>
                      <%= f.text_field :version_note,class: " px-2 py-2 text-sm border-gray-200 rounded-lg shadow-sm" %>
            </div>

              <div class="flex justify-center my-3">
                      <%= f.submit 'Publish',class: "px-4 py-2 rounded-md shadow text-sm font-medium  bg-green-400    text-white cursor-pointer"%>
                      <%= f.submit 'Save as Draft',class: "px-4 py-2 rounded-md shadow text-sm font-medium   bg-orange-400   text-white cursor-pointer ml-2" %>
                      <%= link_to articles_path,class:"flex items-center justify-center px-4 py-2  rounded-md shadow text-sm font-medium  bg-indigo-500   text-white ml-2" do %>
                                   <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                  </svg> <p class="ml-2"> Cancel </p>
                      <% end %>
            </div> 
    <% end %>

</body>