<body>
	<div class="container w-full md:max-w-3xl mx-auto pt-15">
			
				<!--Title-->
				<div class="font-sans">
					<p class="my-2 text-base md:text-sm text-green-500 font-bold">&lt; <%= link_to 'BACK TO LISTING',articles_path,class: "text-base md:text-sm text-green-500 font-bold no-underline hover:underline" %> </p>
							<h1 class="text-center font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl"><%= @article.title %></h1>
							<p class="text-sm md:text-base text-center font-normal text-gray-600"><span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-blue-600 text-white rounded-full">Published</span> <%= @article.created_at.to_formatted_s(:short) %> by <%=@article.user.first_name %> </p>
							<hr class="my-3 border-1 border-green-500">
				</div>


				<!--Lead Para-->
				<p class="py-2">
						<%= (@article.content) %>
				</p>

				<hr class="mb-5 border-1 border-green-500">
	<div x-data="{ open: false }">
      <div class="flex mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-gray-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
          </svg>
            <button class="ml-3 text-gray-900 text-sm" x-on:click="open = ! open">
               <span class="relative inline-block">
                           <ion-icon name="chatbubble-outline" class="h-7 w-7 text-gray-900"></ion-icon>

                 <span class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 transform translate-x-1/2 -translate-y-1/2 bg-red-600 rounded-full"><%= @article.comments.count %></span>
            </span>
            </button>
        
          </div>
          <div class="antialiased mx-auto max-w-screen-sm" x-show="open">
      <h3 class="mb-2 text-lg font-semibold text-gray-900">Comments</h3>
        <%= form_with model: [@article, @comment],local: true do |f| %>
                <div class="flex">
                    <%= f.text_area :body,class: "bg-white rounded-lg w-full",rows: "4",placeholder: "Add a comment" %>
                </div>
                <div class="mt-2 mb-3 flex justify-end">
                     <%= f.submit "Comment", class: "px-2 py-1 bg-indigo-500 text-white rounded-md cursor-pointer" %>
                </div>
            
        <% end %>
      <div class="space-y-2">
          <% @comments.each do |comment| %>
              <div class="flex mb-2" >
                  <div class="flex-shrink-0 mr-3">
                    <img class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10" src="https://images.unsplash.com/photo-1604426633861-11b2faead63c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=80" alt="">
                  </div>
                  <div class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed mb-3" >
                    <strong><%= comment.user.first_name %></strong> <span class="text-xs text-gray-400"><%= comment.created_at.strftime("%b %d at %I:%M%p ") %></span>
                    <p class="text-sm">
                    <%= comment.body %>
                    </p>
                  </div>
               </div>
          <% end %>
      </div>
    </div>
  </div>

	</div>
</body>
